/* This file will hold styles that are loaded using the same media query as the normal grid. */
#region-branding h1.site-name {
  width: 940px;
  height: 123px;
  background: url("/sites/all/themes/treefive/images/combined_banner_940.png") no-repeat scroll top left;
}

#support,
#facebook {
  padding: 12px 0 0 80px;
}

#section-footer {
  font-size: 0.85714em;
  line-height: 1.33333em;
}

#block-block-5,
#block-block-6,
#block-views-calendar-block-3,
#node_people_full_group_person_contact,
#node_people_full_group_person_details {
  width: 300px;
}

#node_people_full_group_person_contact,
#node_people_full_group_person_details {
  float: right;
}

article.node div.field-name-field-person-photo {
  float: left;
  padding-bottom: 1.35714em;
}

article.node div.field-name-body {
  clear: both;
}

.sf-menu.sf-style-default a {
  width: 5.66667em;
}

ul.personneldirectory li.dirperson .views-field {
  margin-left: 80px;
}

ul.personneldirectory li.dirperson .views-field-title {
  margin-left: 0;
}

ul.personneldirectory li.dirperson .views-field-field-person-closeup {
  margin: 0;
}

#views_slideshow_cycle_teaser_section_news_display-block div.views-field-body {
  width: 140px;
  height: 284px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 480px;
}

#views_slideshow_cycle_teaser_section_news_display-block div.views-field-body div.field-content {
  margin: 1.35714em 0;
}

